<!DOCTYPE html>
<html>
<head>
  <title>GitZero is Git + Auth0</title>
  <style type="text/css">
    #page-wrap {
      width: 800px;
      margin: 0 auto;
      overflow: hidden;
    }
    .code {
      background: #000;
      border: 3px groove #ccc;
      color: #ccc;
      display: block;
      padding: 5px;
      width: 96%;
      word-wrap: break-word;
      height: 278px;
      font-size: 1.7em;
      font-family: monospace;
      padding-left: 9px;
      padding-top: 20px;
    }
    h2, h1 {
      font-weight: 500;
      font-weight: bold;
      font-variant: normal;
    }
    h1 {
      font-size: 1.8em;
      color: #ef391a;
      text-rendering: optimizelegibility;
    }
    h2 {
      font-size: 1.3em;
    }
    body {
      background-color: #f0efe7;
      color: rgb(78, 68, 60);
      font-family:  adelle, Georgia, 'Times New Roman', serif;
      font-size: 18px;
      font-style: normal;
      font-variant: normal;
    }
    .code .highlight {
      color: rgb(135, 147, 185);
    }
    pre.code.clone-example-1 {
      height: 60px;
    }
    a {
      color: #0388a6;
      text-decoration: none;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      padding-bottom: 1px;
      border-bottom-width: 3px;
      border-bottom-style: solid;
    }
    a:hover{
      color: #04b1d8;
    }
    h1 .icon {
      width: 45px;
      float: left;
      margin-top: -5px;
      margin-right: 15px;
    }
  </style>
</head>
<body>

    <div id="page-wrap">
      <h1>
        <img src="img/git_icon.png" class="icon">
        GitZero!
      </h1>


      <div class="anonymous" style="display:none">
        <p>This git repository is protected by <strong>token-based authentication</strong>.</p>
        <pre class="code clone-example-1" readonly></pre>
      </div>

      <div class="authenticated" style="display:none">
        <h2>Use this token as <strong>USERNAME</strong> and leave the <strong>PASSWORD</strong> empty</h2>
        <pre class="code token"></pre>
        <h2>Clone example</h2>
        <pre class="code clone-example-2" readonly></pre>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-widget-3.0.min.js"></script>
    <script>
      window.auth0_settings = {
        domain: "<%= namespace %>",
        clientID: "<%= client_id %>",
        callbackURL: window.location.origin,
        callbackOnLocationHash: true,
        scope: 'openid -iss -iat'
      };
    </script>
    <script src="js/main.js"></script>
</body>
</html>